denisProjectDF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "denisProjectDF"
		},
		"Adls2Adf_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Adls2Adf_ls'"
		},
		"Adf2AzSQL_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbdenis.database.windows.net"
		},
		"Adf2AzSQL_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "denis_db"
		},
		"Adf2AzSQL_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "denis_admin"
		},
		"Adls2Adf_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsstoragedenis.dfs.core.windows.net/"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KVdenis.vault.azure.net/"
		},
		"Blob2Adf_ls_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "blobConnString"
		},
		"Mongo2Adf_ls_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "mongoConnString"
		},
		"Mongo2Adf_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "denis_db"
		},
		"MySql2Adf_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"MySql2Adf_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "denis_db"
		},
		"MySql2Adf_ls_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "root"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Adls2Bronze_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdlsFactFiles_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AdlsFactFiles_B",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AdlsFactFiles_R')]",
				"[concat(variables('factoryId'), '/datasets/AdlsFactFiles_B')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob2Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BlobDimFiles_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobDimFiles_B",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BlobDimFiles_R')]",
				"[concat(variables('factoryId'), '/datasets/BlobDimFiles_B')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze2Silver_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SalesRepDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SalesRep_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesRepBronzeData": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ProductDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Product_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ProductBronze": {},
									"sink2": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CategoryDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Category_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CategoryBronze": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "GeographyDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Geography_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"GeographyBronze": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SubCategoryDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SubCategory_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SubCategoryBronze": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FactSalesDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SalesRepDF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ProductDF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CategoryDF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GeographyDF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SubCategoryDF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Sales_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AllSalesBronze": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SalesRep_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Product_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Category_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Geography_DF')]",
				"[concat(variables('factoryId'), '/dataflows/SubCategory_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Sales_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mongo2Bronze_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MongoDbV2Source",
								"batchSize": 100
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Geography_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Geography_B",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Geography_R')]",
				"[concat(variables('factoryId'), '/datasets/Geography_B')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQL2Bronze_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Product_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Product_B",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_R')]",
				"[concat(variables('factoryId'), '/datasets/Product_B')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw2Bronze_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MySQL2Bronze_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Mongo2Bronze_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Blob2Bronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline4",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Adls2Bronze_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MySQL2Bronze_PL')]",
				"[concat(variables('factoryId'), '/pipelines/Mongo2Bronze_PL')]",
				"[concat(variables('factoryId'), '/pipelines/Blob2Bronze')]",
				"[concat(variables('factoryId'), '/pipelines/Adls2Bronze_PL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver2Gold_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Denis_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CategoryData": {},
									"SubCategoryData": {},
									"ProductData": {},
									"SalesRepData": {},
									"SalesData": {},
									"GeographyData": {},
									"sink1": {},
									"sink2": {},
									"sink3": {},
									"sink4": {},
									"sink5": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Denis_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdlsFactFiles_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "medallion/Bronze/Sales",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdlsFactFiles_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Sales",
						"fileSystem": "denisfactraw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "fSalesPrimaryKey",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "SalesRepID",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Units",
						"type": "String"
					},
					{
						"name": "PercentOfStandardCost",
						"type": "String"
					},
					{
						"name": "RevenueDiscount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AvgSalesPerDay')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "AvgSalesPerDay_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobDimFiles_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobDimFiles_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "denisdimraw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesRepID",
						"type": "String"
					},
					{
						"name": "Sales Rep Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blob2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Categories",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Categories.xlsx",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Category_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Category_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CountrySummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "CountrySummary_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Denis_G')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "medallion/Gold",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Denis_GG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Denis_DeNorm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Geography.json",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mongo2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbV2Collection",
				"schema": [],
				"typeProperties": {
					"collection": "Geography"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mongo2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Geography_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Geography_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "ProductSummary_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "`product`.csv",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`product`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MySql2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Product_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Product_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesRepSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "SalesRepSummary_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesRep_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesRep.csv",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesRepID",
						"type": "String"
					},
					{
						"name": "Sales Rep Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesRep_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesRep_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesRep_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "SalesRep_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sales_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Sales_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sales_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Sales_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubCategory_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SubCategories.csv",
						"folderPath": "medallion/Bronze",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SubCategoryKey",
						"type": "String"
					},
					{
						"name": "CategoryKey",
						"type": "String"
					},
					{
						"name": "SubCategory Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubCategory_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SubCategory_S.csv",
						"folderPath": "medallion/Silver",
						"fileSystem": "denis"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubCategory_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSQL_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "SubCategory_Norm_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSQL_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adf2AzSQL_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Adf2AzSQL_ls_properties_typeProperties_server')]",
					"database": "[parameters('Adf2AzSQL_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Adf2AzSQL_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AzureSQLPassword"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adls2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Adls2Adf_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Adls2Adf_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Blob2Adf_ls_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mongo2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbV2",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Mongo2Adf_ls_properties_typeProperties_connectionString_secretName')]"
					},
					"database": "[parameters('Mongo2Adf_ls_properties_typeProperties_database')]"
				},
				"connectVia": {
					"referenceName": "DenisSelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/DenisSelfHostedIR')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySql2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('MySql2Adf_ls_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('MySql2Adf_ls_properties_typeProperties_database')]",
					"username": "[parameters('MySql2Adf_ls_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "mysqlPassword"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "DenisSelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/DenisSelfHostedIR')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DenisSelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Category_B",
								"type": "DatasetReference"
							},
							"name": "CategoryBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Category_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Category_SS",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          CategoryKey as short,",
						"          Category as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CategoryBronze",
						"CategoryBronze sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Category_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"CategoryBronze sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Category_B')]",
				"[concat(variables('factoryId'), '/datasets/Category_S')]",
				"[concat(variables('factoryId'), '/datasets/Category_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Denis_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Category_S",
								"type": "DatasetReference"
							},
							"name": "CategoryData"
						},
						{
							"dataset": {
								"referenceName": "SubCategory_S",
								"type": "DatasetReference"
							},
							"name": "SubCategoryData"
						},
						{
							"dataset": {
								"referenceName": "Product_S",
								"type": "DatasetReference"
							},
							"name": "ProductData"
						},
						{
							"dataset": {
								"referenceName": "SalesRep_S",
								"type": "DatasetReference"
							},
							"name": "SalesRepData"
						},
						{
							"dataset": {
								"referenceName": "Sales_S",
								"type": "DatasetReference"
							},
							"name": "SalesData"
						},
						{
							"dataset": {
								"referenceName": "Geography_S",
								"type": "DatasetReference"
							},
							"name": "GeographyData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Denis_G",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Denis_GG",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "SalesRepSummary",
								"type": "DatasetReference"
							},
							"name": "sink3"
						},
						{
							"dataset": {
								"referenceName": "ProductSummary",
								"type": "DatasetReference"
							},
							"name": "sink4"
						},
						{
							"dataset": {
								"referenceName": "CountrySummary",
								"type": "DatasetReference"
							},
							"name": "sink5"
						},
						{
							"dataset": {
								"referenceName": "AvgSalesPerDay",
								"type": "DatasetReference"
							},
							"name": "sink6"
						}
					],
					"transformations": [
						{
							"name": "CategorySubCatJoin"
						},
						{
							"name": "CatSubCatReqClms"
						},
						{
							"name": "CatSubCatProduct"
						},
						{
							"name": "CatSubCatPrdReqCol"
						},
						{
							"name": "SalesSalesRepJoin"
						},
						{
							"name": "SalesSalesRepCol"
						},
						{
							"name": "FinalJoin"
						},
						{
							"name": "FinalRequiredCol"
						},
						{
							"name": "CalcTotalRevenueTotalCost"
						},
						{
							"name": "CalcGrossProfit"
						},
						{
							"name": "SalesRepSummary"
						},
						{
							"name": "ProductSummary"
						},
						{
							"name": "CountryWiseSummary"
						},
						{
							"name": "AvgSalesPerDay"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CategoryKey as short,",
						"          Category as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CategoryData",
						"source(output(",
						"          SubCategoryKey as short,",
						"          CategoryKey as short,",
						"          {SubCategory Name} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SubCategoryData",
						"source(output(",
						"          ProductID as short,",
						"          SubCategoryKey as short,",
						"          Color as string,",
						"          ProductName as string,",
						"          RetailPrice as double,",
						"          StandardCost as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> ProductData",
						"source(output(",
						"          SalesRepID as short,",
						"          SalesRepName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesRepData",
						"source(output(",
						"          fSalesPrimaryKey as integer,",
						"          ProductID as short,",
						"          SalesRepID as short,",
						"          Country as string,",
						"          Town as string,",
						"          Date as date,",
						"          Units as short,",
						"          PercentOfStandardCost as double,",
						"          RevenueDiscount as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesData",
						"source(output(",
						"          GeoKey as short,",
						"          Country as string,",
						"          Town as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> GeographyData",
						"CategoryData, SubCategoryData join(CategoryData@CategoryKey == SubCategoryData@CategoryKey,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> CategorySubCatJoin",
						"CategorySubCatJoin select(mapColumn(",
						"          SubCategoryKey,",
						"          Category,",
						"          SubCategoryName = {SubCategory Name}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CatSubCatReqClms",
						"CatSubCatReqClms, ProductData join(CatSubCatReqClms@SubCategoryKey == ProductData@SubCategoryKey,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> CatSubCatProduct",
						"CatSubCatProduct select(mapColumn(",
						"          ProductID,",
						"          Category,",
						"          {SubCategory Name} = SubCategoryName,",
						"          Color,",
						"          ProductName,",
						"          RetailPrice,",
						"          StandardCost",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CatSubCatPrdReqCol",
						"SalesRepData, SalesData join(SalesRepData@SalesRepID == SalesData@SalesRepID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> SalesSalesRepJoin",
						"SalesSalesRepJoin select(mapColumn(",
						"          fSalesPrimaryKey,",
						"          ProductID,",
						"          SalesRepID = SalesData@SalesRepID,",
						"          SalesRepName,",
						"          Country,",
						"          Town,",
						"          Date,",
						"          Units,",
						"          PercentOfStandardCost,",
						"          RevenueDiscount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SalesSalesRepCol",
						"CatSubCatPrdReqCol, SalesSalesRepCol join(CatSubCatPrdReqCol@ProductID == SalesSalesRepCol@ProductID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> FinalJoin",
						"FinalJoin select(mapColumn(",
						"          TxnID = fSalesPrimaryKey,",
						"          ProductID = CatSubCatPrdReqCol@ProductID,",
						"          SalesRepID,",
						"          SalesRepName,",
						"          Category,",
						"          SubCategoryName = {SubCategory Name},",
						"          Color,",
						"          ProductName,",
						"          RetailPrice,",
						"          StandardCost,",
						"          Country,",
						"          Town,",
						"          Date,",
						"          Units,",
						"          PercentOfStandardCost,",
						"          RevenueDiscount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalRequiredCol",
						"FinalRequiredCol derive(Total_Revenue = RetailPrice * Units,",
						"          Total_Cost = StandardCost * Units) ~> CalcTotalRevenueTotalCost",
						"CalcTotalRevenueTotalCost derive(Gross_Profit = Total_Revenue - Total_Cost) ~> CalcGrossProfit",
						"CalcGrossProfit aggregate(groupBy(SalesRepName),",
						"     Total_Cost = sum(Total_Cost),",
						"          Total_Revenue = sum(Total_Revenue),",
						"          Gross_Profit = sum(Gross_Profit)) ~> SalesRepSummary",
						"CalcGrossProfit aggregate(groupBy(ProductName),",
						"     Gross_Profit = sum(Gross_Profit),",
						"          Avg_Gross_Profit = avg(Gross_Profit)) ~> ProductSummary",
						"CalcGrossProfit aggregate(groupBy(Country),",
						"     Total_Cost = sum(Total_Cost),",
						"          Total_Profit = sum(Gross_Profit)) ~> CountryWiseSummary",
						"CalcGrossProfit aggregate(groupBy(Date),",
						"     Avg_Sales_Per_Day = sum(Total_Revenue)) ~> AvgSalesPerDay",
						"CalcGrossProfit sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Denis_G.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"CalcGrossProfit sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1)) ~> sink2",
						"SalesRepSummary sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink3",
						"ProductSummary sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink4",
						"CountryWiseSummary sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink5",
						"AvgSalesPerDay sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink6"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Category_S')]",
				"[concat(variables('factoryId'), '/datasets/SubCategory_S')]",
				"[concat(variables('factoryId'), '/datasets/Product_S')]",
				"[concat(variables('factoryId'), '/datasets/SalesRep_S')]",
				"[concat(variables('factoryId'), '/datasets/Sales_S')]",
				"[concat(variables('factoryId'), '/datasets/Geography_S')]",
				"[concat(variables('factoryId'), '/datasets/Denis_G')]",
				"[concat(variables('factoryId'), '/datasets/Denis_GG')]",
				"[concat(variables('factoryId'), '/datasets/SalesRepSummary')]",
				"[concat(variables('factoryId'), '/datasets/ProductSummary')]",
				"[concat(variables('factoryId'), '/datasets/CountrySummary')]",
				"[concat(variables('factoryId'), '/datasets/AvgSalesPerDay')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Geography_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Geography_B",
								"type": "DatasetReference"
							},
							"name": "GeographyBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Geography_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Geography_SS",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "selectedColumns"
						},
						{
							"name": "AddingSurrogateKey"
						},
						{
							"name": "selectedColumns1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Country as string,",
						"          Town as string,",
						"          Wikipedia as string,",
						"          {_id} as ({$oid} as string)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> GeographyBronze",
						"GeographyBronze select(mapColumn(",
						"          Country,",
						"          Town",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns keyGenerate(output(GeoKey as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> AddingSurrogateKey",
						"AddingSurrogateKey select(mapColumn(",
						"          GeoKey,",
						"          Country,",
						"          Town",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns1",
						"selectedColumns1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Geography_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"selectedColumns1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Geography_B')]",
				"[concat(variables('factoryId'), '/datasets/Geography_S')]",
				"[concat(variables('factoryId'), '/datasets/Geography_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Product_B",
								"type": "DatasetReference"
							},
							"name": "ProductBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Product_S",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "Product_SS",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "RowNumber"
						},
						{
							"name": "filterUniqueID"
						},
						{
							"name": "selectedClms"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ProductID as short,",
						"          {Sub Category Key} as short,",
						"          Color as string,",
						"          ProductName as string,",
						"          RetailPrice as double,",
						"          StandardCost as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> ProductBronze",
						"ProductBronze window(over(ProductID),",
						"     asc(ProductID, true),",
						"     RowNum = rowNumber()) ~> RowNumber",
						"RowNumber filter(RowNum == 1) ~> filterUniqueID",
						"filterUniqueID select(mapColumn(",
						"          ProductID,",
						"          SubCategoryKey = {Sub Category Key},",
						"          Color,",
						"          ProductName,",
						"          RetailPrice,",
						"          StandardCost",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedClms",
						"selectedClms sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Product_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink2",
						"selectedClms sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink3"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Product_B')]",
				"[concat(variables('factoryId'), '/datasets/Product_S')]",
				"[concat(variables('factoryId'), '/datasets/Product_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesRep_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SalesRep_B",
								"type": "DatasetReference"
							},
							"name": "SalesRepBronzeData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SalesRep_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "SalesRep_SS",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "SalesRepIDFormat"
						},
						{
							"name": "selectedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesRepID as string,",
						"          {Sales Rep Name} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesRepBronzeData",
						"SalesRepBronzeData derive(SalesRepID = regexReplace(SalesRepID, '[^0-9]', '')) ~> SalesRepIDFormat",
						"SalesRepIDFormat select(mapColumn(",
						"          SalesRepID,",
						"          SalesRepName = {Sales Rep Name}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'SalesRep_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesRep_B')]",
				"[concat(variables('factoryId'), '/datasets/SalesRep_S')]",
				"[concat(variables('factoryId'), '/datasets/SalesRep_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sales_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AdlsFactFiles_B",
								"type": "DatasetReference"
							},
							"name": "AllSalesBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Sales_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Sales_SS",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "selectedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          fSalesPrimaryKey as integer,",
						"          ProductID as short,",
						"          SalesRepID as short,",
						"          Location as string,",
						"          Date as string,",
						"          Units as short,",
						"          PercentOfStandardCost as double,",
						"          RevenueDiscount as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> AllSalesBronze",
						"AllSalesBronze derive(Country = split(Location,';')[1],",
						"          Town = split(Location, ';')[2],",
						"          Date = toDate(Date, 'dd.MM.yyyy')) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          fSalesPrimaryKey,",
						"          ProductID,",
						"          SalesRepID,",
						"          Country,",
						"          Town,",
						"          Date,",
						"          Units,",
						"          PercentOfStandardCost,",
						"          RevenueDiscount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Sales_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AdlsFactFiles_B')]",
				"[concat(variables('factoryId'), '/datasets/Sales_S')]",
				"[concat(variables('factoryId'), '/datasets/Sales_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SubCategory_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SubCategory_B",
								"type": "DatasetReference"
							},
							"name": "SubCategoryBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SubCategory_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "SubCategory_SS",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SubCategoryKey as string,",
						"          CategoryKey as string,",
						"          {SubCategory Name} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SubCategoryBronze",
						"SubCategoryBronze derive(CategoryKey = regexReplace(CategoryKey, '[^0-9]', '')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'SubCategory_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SubCategory_B')]",
				"[concat(variables('factoryId'), '/datasets/SubCategory_S')]",
				"[concat(variables('factoryId'), '/datasets/SubCategory_SS')]"
			]
		}
	]
}